.home-container {
  display: block;

  .home-title {
    color: darkcyan;
  }

  .links-container {
    display: flex;
    justify-content: center;
    padding: 10px;

    .single-link {
      padding: 10px;

      .home-container {

        h3 {
          @include base-border-radius();
          font-family: 'Mukta Vaani', sans-serif;
          height: 10%;
          background-color: #FAEBD7;
          margin-bottom: 5px;
          padding: 5px;
        }
        
        .home-summary {
          @include base-border-radius();
          font-family: 'DM Sans', sans-serif;
          background-color: #FFF0F5;
          padding: 10px;
          font-weight: 500;
        }
      }

    }
    .btn-page {
      @include base-border-radius();
      @include base-btn();      
    }
  }
}