.home-container {
  display: block;

  .home-title {
    color: $dark;
  }

  .links-container {
    display: flex;
    justify-content: center;
    padding: 10px;

    .single-link {
      padding: 10px;

    }
    .btn-page {
      @include base-border-radius();
      cursor: pointer;
      background-color: darkcyan;
      color: whitesmoke;
      padding: 10px;
      margin: 10px;
    }
  }
}