.month-container {
  @include base-border-radius();


  h3 {
    @include base-border-radius();

    background-color: #FAEBD7;
    border: 1px solid #DAA520;
    margin: 5px;
    padding: 5px;
  }

  .month-summary {
    @include base-border-radius();
    background-color: #FFF0F5;
    padding: 10px;
    font-weight: 500;
  }
}