.month-container {
  @include base-border-radius();
  display: grid;
  grid-auto-columns: 1;
  align-items: center;
  
  .month-title {
    display: flex;
    justify-content: center;

    .month-heading {
      
    
      h3 {
        @include base-border-radius();
        font-family: 'Mukta Vaani', sans-serif;
        // height: 10%;
        // width: 20%;
        background-color: darkcyan;
        color: white;
        margin: 5px;
        padding: 10px;
      }
    }
  }

  .month-summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;

    .month-summary {
    @include base-border-radius();
    font-family: 'DM Sans', sans-serif;
    // background-color: #FFF0F5;
    height: 100%;
    width: 80%;

      p {
        padding: 10px;
      }
    
    }
  }
}