.form-control {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: 50px;
  
  .sign-in-container {
    justify-content: center;
    padding: 10px;
    
    input {
      background: lightblue;
      border: 0;
      padding: 10px 30px 10px 30px;
      &:focus {
        outline: none;
      }
    }
  }
}

.sign-in-form {
  &__login {
    cursor: pointer;
  }
} 