// DASHBOARD
.dashboard {
  display: block;

  h3 {
    color: darkcyan;
  }
}

// DASHBOARD NAV
.dashboard-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background: black;
  // border-bottom: 1.5px solid #48D1CC;
  
  .dashboard-links {
    font-size: 1.2em;
    padding: 10px;
    font-family: 'Kanit', sans-serif;

    
    a {
      text-decoration: none;
      color: white;
      
      &:hover {
        color: #48D1CC;
      }      
    }
    .nav-link-active {
      color: #48D1CC;
    }
  }
}

// DASHBOARD PAGES
.dashboard-space-two {
  height: 90vh;
  padding: 20px;
  .dashboard-heading {
    font-size: 2em;
    font-family: 'Kanit', sans-serif;
  }

  .dashboard-info {

    .dashboard-flex {
      display: grid;
      justify-content: center;
      div {
        display: flex;
        h2  {
          padding: 10px;
        }
      }

      .dashboard-date {
      }
      .dashboard-account {
      }
    }
    p {
      height: 30px;
      width: 100%;
      font-size: 1.2em;
    }
  }
  
}

@media(max-width: 500px) {
  .dashboard-container {
    .dashboard-space-one {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}